.cards {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto 0;
    padding: 0;
}
.cards li {
    list-style-type: none;
}

.button_showmore {
    width: 200px;
    height: 48.3px;
    border: 1px solid #FF583E;
    border-radius: 40px;
    background: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #FF583E;
    cursor: pointer;
}
.btn {
    margin-top: -51px;
    display: flex;
    justify-content: center;
}




.card {
    width: 264px;
    height: 338px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    margin-right: 32px;
    margin-bottom: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #254F4C;
    margin-top: 0;
    margin-bottom: 8px;
    text-align: center;
}
.desc {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin: 0 16px;
    padding: 10px;
    text-align: center;
    height: 89px;
}
.count {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #254F4C;
    margin: 0 auto 15px;
    width: 64px;
    height: 16px;
}

.count span{
    cursor: pointer;
}

.count span img{
    display: flex;
    align-items: center;
}
.count_number {
    padding: 0 12px;
}
.card_img{
    margin-top: -70px;
    height: 160px;
}

.button{
    width: 200px;
    height: 48.3px;
    background: #254F4C;
    border-radius: 40px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 147.19%;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.header {
    display: flex;
    width: 1152px;
    margin: 89px auto 0;
}
.header p {
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    color: #254F4C;
    width: 112px;
    height: 32px;
    margin-right: 164px;

}
.header ul {
    display: flex;
}
.header ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1D3130;
    list-style-type: none;
    margin-right: 16px;
    padding: 6px;
}


.select_option {
    width: 1152px;
    height: 40px;
    margin: 0 auto 112px;
}
.select {
    float: right;
}
.select select{
    padding: 10px 39px 10px 23px;
    font-weight: 400;
    font-size: 14px;
    color: #3A403F;
}
.select label {
    margin-right: 28px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1D3130;
}