
.card {
    width: 264px;
    height: 348.13px;
    background: #2B4241;
    border-radius: 40px;
    margin-right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card_button{
    width: 200px;
    height: 48.3px;
    background: #FF583E;
    border-radius: 40px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 147.19%;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    bottom: 0;
}

.card_button_added {
    width: 200px;
    height: 48.3px;
    background: #FFFFFF;
    border-radius: 40px;
    border: 1px solid #FF583E;
    font-weight: 700;
    font-size: 14px;
    line-height: 147.19%;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    bottom: 0;
}

.card_img {
    margin-top: -120px;
    width: 210px;
    height: 210px;
}

.card h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 8px;
    text-align: center;
}
.desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    height: 89px;
    margin-bottom: 8px;
}
.count {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0 auto 16px;
    height: 16px;
    width: 64px;
}
.count span img{
    display: flex;
    align-items: center;
}
.count_number {
    padding: 0 12px;
}