.button{
    width: 200px;
    height: 48.3px;
    background: #FF583E;
    border-radius: 40px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 147.19%;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    bottom: 0;
}

.button_added {
    width: 200px;
    height: 48.3px;
    background: #53AA01;
    border-radius: 40px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 147.19%;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    bottom: 0;
}