
.advantages{
    width: 1120px;
    margin: 43px auto 0;
}
.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    color: #254F4C;
    margin-bottom: 42px;
}
.cards {
    display: flex;
    width: 1120px;
    margin: 0 auto;
}