.cards {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto 0;
    padding: 0;
}
.cards li {
    list-style-type: none;
}

.card {
    width: 264px;
    height: 348.13px;
    background: #2B4241;
    border-radius: 40px;
    margin-right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card_img {
    margin-top: -120px;
    width: 210px;
    height: 210px;
}

.card h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 8px;
    text-align: center;
}

.desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    height: 89px;
    margin-bottom: 8px;
}

.count {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0 auto 16px;
    height: 16px;
    width: 64px;
}

.count span{
    cursor: pointer;
}

.count span img{
    display: flex;
    align-items: center;
}

.count_number {
    padding: 0 12px;
}

.button{
    width: 200px;
    height: 48.3px;
    background: #FF583E;
    border-radius: 40px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 147.19%;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    bottom: 0;
}

.header {
    display: flex;
    width: 1152px;
    margin: 89px auto 0;
}
.header p {
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    color: #254F4C;
    width: 112px;
    height: 32px;
    margin-right: 164px;

}
.header ul {
    display: flex;
}
.header ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1D3130;
    list-style-type: none;
    margin-right: 16px;
    padding: 6px;
    cursor: pointer;
}

.tabs {
    color: #FF583E;
}

