@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

.card {
    width: 256px;
    height: 184px;
    text-align: center;
    margin-right: 32px;
}
.card img {
    width: 88px;
    height: 88px;
    margin: 0 84px 16px;
}
.card h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #254F4C;
    width: 216px;
    height: 24px;
    margin: 0 auto 8px;
}
.card p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1D3130;
    width: 256px;
    height: 48px;
    margin: 0 auto;
}