a {
    text-decoration: none;
}

header {
    /*position: sticky;*/
    /*top: 0;*/
    display: flex;
    align-items: center;
}
.header {
    margin: 0 auto;
    width: 1200px;
    height: 104px;
    display: flex;
    align-items: center;
    background-color: white;
}
header ul {
    display: flex;
    padding-left: 0;
}
header ul li{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1D3130;
    list-style-type: none;
    margin-right: 60px;
    padding: 5px;
}
.last_child {
    margin-right: 0;
}
.items {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FF583E;
}
.logo {
    display: flex;
    align-items: center;
    margin-right: 129px;
    padding-right: 14px;
}
.logo h3 {

    color: #254F4C;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin: 0;
    text-transform: uppercase;
}
.logo p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1D3130;
    margin: 0;
}
.logo img {
    width: 32px;
    height: 31.84px;
}
.menu {
    margin-right: 4px;
}
.svg {
    margin-right: 8px;
}
.active {
    color: #FF583E;
}
