@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

.header {
    display: flex;
    width: 1152px;
    margin: 89px auto 0;
}
.header p {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    color: #254F4C;
    width: 112px;
    height: 32px;
    margin-right: 164px;

}
.header ul {
    display: flex;
}
.header ul li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1D3130;
    list-style-type: none;
    margin-right: 16px;
    padding: 6px;
}